<div class=" bg-secondary text-white btn w-100 mt-1 mb-1 mx-auto ">
    <strong>Colors</strong>
</div>
<div class="row">
    <div class=" text-white btn w-100 mt-1 mb-1 ">
        <input type="text" [(ngModel)]="filterText" class="form-control" id="filterColorText" placeholder="Enter your color name" />
    </div>
</div>
<ul class="list-group">
    <li routerLink="/cardetails" *ngIf="!filterText" [class]="getAllColorClass()" (click)="clearCurrentColor()">
        All Cars
    </li>
    <li *ngFor="let color of colors | colorFilter: filterText" routerLink="/cardetails/brand/{{color.colorId}}" [class]="getCurrentColorClass(color)" (click)='setCurrentColor(color)'>
        {{color.colorName}}
    </li>
</ul>