<div class="container">
    <div class="row">
        <div class="col-4">1
            <app-brand></app-brand>
        </div>
        <div class="col-8">2
            <div class="row mb-5 justify-content-center">
                <div class="col-3">
                    <div class="position-relative rounded-circle border p-3" style="height: 150px; width: 150px; box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;">
                        <div class="position-absolute top-50 start-50 translate-middle text-center">
                            <div class="yuvarlak-sayi">{{brands.length}}</div>
                            <div class="yuvarlak-text"><span>Marka</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="position-relative rounded-circle border p-3" style="height: 150px; width: 150px; box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;">
                        <div class="position-absolute top-50 start-50 translate-middle text-center">
                            <div class="yuvarlak-sayi">{{colors.length}}</div>
                            <div class="yuvarlak-text"><span>Araç</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="position-relative rounded-circle border p-3" style="height: 150px; width: 150px; box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;">
                        <div class="position-absolute top-50 start-50 translate-middle text-center">
                            <div class="yuvarlak-sayi">{{cars.length}}</div>
                            <div class="yuvarlak-text"><span>Renk</span></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12 offset">
                    <div class="border rounded-3 bg-dark p-3">
                        <div class="row">
                            <div class="col-5">
                                <div class="form-floating">
                                    <select class="form-select" #fastBrand [ngModelOptions]="{standalone: true}" [(ngModel)]="filterBrandId" id="floatingSelect" aria-label="Marka adı">
                                            <option *ngFor="let brand of brands" [value]="brand.brandId">{{brand.brandName}}</option>
                                    </select>
                                    <label for="floatingSelect">Markalar</label>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="form-floating">
                                    <select class="form-select" [ngModelOptions]="{standalone: true}" [(ngModel)]="filterColorId" id="floatingSelect" aria-label="Renk Adı">
                                        <option *ngFor="let color of colors" [value]="color.colorId">{{color.colorName}}</option>
                                    </select>
                                    <label for="floatingSelect">Renkler</label>
                                </div>
                            </div>
                            <div class="col-2">
                                <button (click)="getCarsByFilter(filterBrandId,filterColorId)" type="button" class="btn btn-light btn-lg w-100" style="height: 58px;">Ara</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div *ngFor="let car of cars | carFilter:filterCarModelName" class="col-4">
                    <div class="card mb-4">
                        <img style="width: 300px; height: 200px" class="card-img-top img-fluid border-bottom" [src]="getImagePath(car.imagePath)" routerLink="/car-details/{{car.id}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center" style="color: var(--firstThemeColor);"><strong>{{car.brandName}}
                                {{car.modelName}}</strong></h5>
                            <p class="text-center">Günlük <strong style="color: var(--firstThemeColor);">{{car.dailyPrice |
                                    currency:"":""}}₺</strong> den başlayan fiyatlarla..</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-center">{{car.description |titlecase}}</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>