<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded==true" class="table">
    <thead>
        <tr>
            <td>Car Name</td>
            <td>Marka Name</td>
            <td>Color Name</td>
            <td>Daily Price</td>
        </tr>
    </thead>
    <tr *ngFor="let carDetail of carDetails">
        <td>{{carDetail.description}}</td>
        <td>{{carDetail.brandName}}</td>
        <td>{{carDetail.colorName}}</td>
        <td>{{carDetail.dailyPrice}}</td>
    </tr>
</table>